.pageNumber {
    float: right;
    margin-right: 30px;
}

.pagination {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.pagination button {
    border-color: transparent;
    width: 70px;
    border-radius: 10px;
}

.pagination button:hover {
    cursor: pointer;
}
.body {
    margin-top: 150px;
}